/* Reset */
body, h1, h2, h3,h5,p, ul, li {
    color: #2a6208;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
}
body {
    background-color:#f5e4be; /* ganti #warnamu dengan warna yang diinginkan */
  }
body h1{
    font:bold;
    color: rgb(250, 245, 245);
    font-size:30px ;
    margin-bottom:10px;
    margin-left:150px;
    margin-top: auto;
    text-align: center;
    font-weight: 4px;
    

}

body {
    line-height: 1.6;
    color: #2a6208;
}

/* Container */
.container {
    
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}


/* Header */
header {
    background: #2a6208;
    padding: 1rem 0;
    align-items: center;
    position: fixed;
    text-align: center;
    width: 100%;
}


header nav ul {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
}


header nav ul li {
    margin: 0 1rem;
    padding-top: 1rem;
}

header nav ul li a {
    color: rgb(228, 228, 221);
    display: flex;
    text-decoration: none;
    font-weight: bold;
}


/* Section */
section {
    padding: 2rem 0;
}

#home {
    min-height: 90vh;
    background:url(bacground.jpeg);
    min-height:90vh;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    text-align: center;
    padding: 4rem 0;
}


.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* atur tinggi sesuai kebutuhan */
}

#home h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#home .btn {
    background: #2a6208;
    color: rgb(239, 234, 234);
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* Menu */
#menu {
    
    text-align: center;
}

#menu h2 {
   
    margin-bottom: 2rem;
}

.menu-item {
    
    margin-bottom: 0.3rem;
}
.gambar {
    float: left;
    padding-left: 15px;
    width: 20%;
    margin: 15px;
  }
  
  .gambar img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .nama-kopi {
    font-size: 18px;
    font-weight: bold;
    color: #f5e4be;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2a6208;
    cursor: pointer;
    width: 100%;
  }
  
  
  @media screen and (max-width: 768px) {
    .gambar {
      width: 45%;
      margin: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .gambar {
      width: 100%;
      margin: 10px;
    }
  }
  


/* Order Form */
form label {
    display: block;
    margin-top: 1rem;
}
#pesanan {
    margin-top: 20px;
    color: #ebe8e3;
    border: 1px solid #2a6208;
    padding: 20px;
    border-radius: 10px ;
    box-shadow: 0 0 10px;
  }

form input, form select, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #2a6208;
    border-radius: 5px;
}

form button {
    background: #2a6208;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
}

form button:hover {
    background:#2a6208;
}

/* Footer */
footer {
    background: #402506;
    color: rgb(164, 33, 33);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}